.container {
  width: 100vw;
  height: 100vh;
}

.mapWrapper {
  transition: filter 0.3s;
}

.blurred {
  filter: blur(5px);
}

.postButton {
  position: absolute;
  top: 90vh; /* 画面上部からの位置 */
  left: 50vw;
  z-index: 1000; /* マップの上に表示されるようにz-indexを設定 */
  padding: 10px 20px;
  font-size: 30px;
  color: rgb(255 255 255);
  text-align: center;
  cursor: pointer;
  background-color: #020202;
  border: none;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 50vw;
  height: 50vh;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  transform: translate(-50%, -50%);
}

.popupContent {
  color: rgb(173 187 230);
}

.nearInfo {
  position: absolute;
  top: 78vh;
  left: 38vw;
  z-index: 1000;
  width: 50vw;
  font-weight: bold;
  font-size: 25px;
}

.InfoNumber {
  font-size: 35px;
  color: red;
}
