.container {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

.mapWrapper {
  transition: filter 0.3s;
}

.blurred {
  filter: blur(5px);
}

.postButton {
  position: absolute;
  top: 90vh;
  left: 50vw;
  padding: 0;

  /* Fabのデフォルトスタイルを上書きする必要がある場合 */
  margin: 0;
  transform: translate(-50%, -50%);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 80vw;
  height: 40vh;
  padding: 20px;
  background: white;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.popupContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: rgb(173 187 230);
}

.sendButton {
  position: absolute;
  top: 10vh;
  right: 20px; /* 右から20pxの位置 */
  align-self: flex-end; /* 投稿ボタンを右に */
}

.nearInfo {
  position: absolute;
  top: 80vh;
  left: 10vw;
  z-index: 1000;
  width: 85vw;
  font-size: 25px;
  font-weight: bold;
}

.infoNumber {
  font-size: 35px;
  color: red;
}
